lab_equipment_designs/

# ipynb checkpoints
*checkpoints*
**/*checkpoints*
**/*checkpoints*/


# CNN project 
Software/CNN_feature_extraction_project/**/*.pkl
Software/CNN_feature_extraction_project/**/*.edf
Software/CNN_feature_extraction_project/**/*.npz
Software/CNN_feature_extraction_project/**/*.pt
Software/CNN_feature_extraction_project/**/*.h5
