/* style.css */

body {
    background-color: #000; /* Example background color */
    margin: 0;
    padding: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.brain-container {
    position: absolute;
    top: 150px;
    left: 175px;
    transform: translate(-50%, -50%);
}

#brain-image {
    max-width: 250px;
    height: auto;
    display: block;
}

.vortex-container {
    position: absolute;
    center: 100%
    transform: translate(-50%, -50%);
}

#vortex-image {
    max-width: 400px; /* Adjust as needed */
    height: auto;
}

.stress-meter-container {
    position: absolute;
    bottom: 20px;
    left: 10px;
}

#stress-meter-image {
    max-width: 200px; /* Adjust as needed */
    height: auto;
}
